.cell-matrix{
  background-color: black
}

.flip-cell {
  perspective: 1000px;
  background-color: black;
}

.flip-cell-inner {
  transition: transform 2.8s;
  transform-style: preserve-3d;
}

.flip-cell-front{
  backface-visibility: hidden;
}

.rotate {
  transform: rotateX(180deg);
}

.rotate-back {
  transform: rotateX(0deg);
}



